<h2>Search Cars</h2>
<form action="/authors" method="GET">
    <label class="superText">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button class="superBTN" type="submit">Search</button>
</form>
<br>
<% cars.forEach(car => { %>
<div><%= car.name %></div>
<% }) %>

<div>
    <p>Salut studenti</p>
</div>